.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
}

@media screen and (max-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
  }
}

.home-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .home-bottom-container {
    justify-content: start;
    height: 100vh;
  }
}
.home-details-container {
  margin-left: 40px;
  width: 55%;
}

@media screen and (max-width: 768px) {
  .home-details-container {
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
  }
}
.home-heading {
  color: #ffffff;
  font-size: 70px;
}
@media screen and (max-width: 768px) {
  .home-heading {
    font-size: 29px;
  }
}

.home-description {
  color: #f1f5f9;
  font-size: 32px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .home-description {
    font-size: 15px;
  }
}

.find-jobs-btn {
  background-color: #6366f1;
  height: 40px;
  width: 120px;
  border: 0px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .find-jobs-btn {
    height: 33px;
    width: 100px;
  }
}
